@import 'palette';
@import 'typography';

* {
  box-sizing: border-box;
}

html {
  background: var(--dark-grey);
  font-size: var(--base-size);
}

body {
  @apply --sans;
}

.app {
  color: var(--white);
}